/*
    author: Andres Guzman
    date: October 13, 2023
*/


/* ======================================================
    Fonts
   ====================================================== */


@font-face {
    font-family: "PF";
    src: url('../fonts/PFArmaFive.woff2') format('woff2'),
         url('../fonts/PFArmaFive.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Jet";
    src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* ======================================================
    Custom properties
   ====================================================== */


:root {
    font-size: 16px;
    --fontFamily: PF, Arial, Helvetica, sans-serif;
    --fontFamily__second: Jet, Arial, Helvetica, sans-serif;

    --fontSize__tiny: clamp(0.875rem, 0.725vw, 1.75rem);
    --fontSize__small: clamp(0.875rem, 0.835vw, 2rem);
    --fontSize__big: clamp(1rem, 3vw, 9rem);

    --color__light: rgba(255, 255, 255, 1);
    --color__dark: rgba(13, 17, 23, 1);
    --color__dark--half: rgba(13, 17, 23, 0.3);
    --color__accent: rgba(110, 50, 225, 1);

    --margin: clamp(0.75rem, 1.25vw, 3rem);
}


/* ======================================================
    Animations
   ====================================================== */


@keyframes leftBottom {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(1.5rem, 1.5rem);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.fade--out {
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


/* ======================================================
    Basic styles
   ====================================================== */


*,
*::before,
*::after {
    box-sizing: border-box;
}


::selection {
    background: var(--color__accent);
    color: var(--color__light);
}


html {
    height: 100%;
}


body {
    position: relative;
    height: 100%;
    /* font-family: var(--fontFamily); */
    background-color: var(--color__light);
    cursor: url(../assets/cursor_default.svg) 0 0, auto;
    padding: var(--margin);
    margin: 0;
}


h1 {
    color: var(--color__dark);
    font-family: var(--fontFamily);
    font-size: var(--fontSize__big);
    font-weight: 400;
    line-height: 0.9;
    margin: 0 0 max(12px, 6.5%) 0;
}


a {
    color: var(--color__dark);
    cursor: url(../assets/cursor_pointer.svg) 0 0, pointer;
}


p {
    font: var(--fontSize__small) var(--fontFamily__second);
    line-height: 1.25;
    margin: 0;
}


h1, a, p, .image--wrapper {
    opacity: 0;
	animation-name: fadeIn;
    animation-delay: 0.25s;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}



/* ======================================================
    Section page
   ====================================================== */


#page {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "intro main";
    grid-template-columns: 1fr 2.25fr;
    overflow: hidden;
}


#page::after {
    opacity: 1;
    content: '';
    position: absolute;
    overflow: hidden;
    left: -8rem;
    top: -8rem;
    width: calc(100% + 8rem);
    height: calc(100% + 8rem);
    background-image: url(../assets/bg.svg);
    background-size: 1.5rem 1.5rem;
    animation-name: leftBottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 0;
}


/* ======================================================
    Intro
   ====================================================== */


#intro {
    position: relative;
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: max(2rem, 5%) max(12px, 10%);
    border-top: 2px dashed  var(--color__dark);
    border-bottom: 2px dashed  var(--color__dark);
    border-left: 2px dashed  var(--color__dark);
    overflow: hidden;
    text-shadow:
        0 0 1px var(--color__dark--half),
        0 0 5px var(--color__dark--half),
        0 0 10px var(--color__dark--half),
        0 0 15px var(--color__dark--half),
        0 0 20px var(--color__dark--half)
}


#intro > a.random--button {
    align-self: center;
    z-index: 1;
}


#logo {
    width: clamp(150px, 9vw, 320px);
    height: auto;
    fill: var(--color__dark);
    filter: drop-shadow( 0 0 1px var(--color__dark--half)) 
    drop-shadow( 0 0 5px var(--color__dark--half)) 
    drop-shadow( 0 0 10px var(--color__dark--half)) 
    drop-shadow( 0 0 15px var(--color__dark--half));
    transition: fill 0.3s ease-in;
    margin-bottom: max(12px, 6.5%);
}


#logo--button:hover > #logo {
    fill: var(--color__accent);
}



header {
    color: var(--color__dark);
    z-index: 1;
}


header > p {
    text-transform: uppercase;
    margin-bottom: max(12px, 6.5%);
}


header > p:last-of-type {
    font-size: var(--fontSize__tiny);
}


/* ======================================================
    Footer
   ====================================================== */


footer {
    z-index: 1;
}


footer > p {
    color: var(--color__dark);
    font-size: var(--fontSize__tiny);
}


footer > p:first-of-type {
    margin-bottom: max(12px, 6.5%);
}



/* ======================================================
    Main
   ====================================================== */


main {
    grid-area: main;
    background-color: var(--color__dark);
}


.image--wrapper {
    position: relative;
    height: 100%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MCIgaGVpZ2h0PSI4MCI+DQogIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik04MCAyMFYxMEg3MFYwSDIwdjEwSDEwdjEwSDB2NDBoMTB2MTBoMTB2MTBoNTBWNzBoMTBWNjBoMTBWMjBIODB6bS0zMCAwaDEwdjEwSDUwVjIwem0tMjAgMGgxMHYxMEgzMFYyMHptNDAgMzBINjB2MTBIMzBWNTBIMjBWNDBoMTB2MTBoMzBWNDBoMTB2MTB6Ii8+DQo8L3N2Zz4NCg==");
    background-size: 40px 36px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;    
}


.image--wrapper > p:first-of-type {
    position: relative;
    color: var(--color__light);
    text-align: center;
    padding-top: 12px;
    z-index: 1;
}


#random--image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    padding-top: 3rem;
}


#random--image::selection {
    background-color: transparent;
}


#error--message {
    color: var(--color__accent);
    text-transform: uppercase;
}


#emptyFolder__message {
    color: var(--color__light);
}


.is--hidden {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MCIgaGVpZ2h0PSI4MCI+DQogIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik04MCAyMFYxMEg3MFYwSDIwdjEwSDEwdjEwSDB2NDBoMTB2MTBoMTB2MTBoNTBWNzBoMTBWNjBoMTBWMjBIODB6bS0zMCAwaDEwdjEwSDUwVjIwem0tMjAgMGgxMHYxMEgzMFYyMHptNDAgNDBINjBWNTBIMzB2MTBIMjBWNTBoMTBWNDBoMzB2MTBoMTB2MTB6Ii8+DQo8L3N2Zz4NCg==");
    background-size: 40px 36px;
    background-repeat: no-repeat;
    background-position: center center;
}


/* ======================================================
    Media queries
   ====================================================== */


@media (max-height: 600px) {
    .is--visible {
        display: none;
    }

    #intro {
        justify-content: center;
    }
}


@media (max-width: 900px) {
    #page {
        grid-template-areas:
            "intro"
            "main";
        grid-template-columns: auto;
        grid-template-rows: 1fr 5fr;
    }

    #intro {
        padding: 1rem;
        border-top: 1px dashed var(--color__dark);
        border-right: 1px dashed var(--color__dark);
        border-bottom: none;
        border-left: 1px dashed var(--color__dark);
        place-content: center;
    }

    h1 {
        margin: 0;
    }

    #random--image {
        max-width: 95%;
        max-height: 95%;
    }

    .is--visible {
        display: none;
    }
}